body {
    margin: 0;
    background-color: #191d2b;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #27AE60;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin-bottom: 10px;
    margin-top: 16px;
    font-size: 23px;
    font-weight: bold;
    color: #FFF;
    border:4px solid #FFF;
    border-radius: 10px;
    padding: 7px;
    position:absolute;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 45px;
    padding-top: 25px;
    margin-bottom: 25px;
}

nav a {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    font-size: 23px;
    opacity: 0.9;
}

.benget {
    width : 15%;
    border-radius: 20px;
}

#section1 {
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 210px;
}


#section1 {
    display: flex;
}

.text {
    color: #FFF;
    opacity: 0.9;
}
.name {
   padding-left: 50px;
   font-size: 3rem;
   font-weight: 600;
}

.description {
   padding-left: 50px;
   padding-right: 15%;
}

.text-project {
    padding-top: 6%;
    text-align: center;
    color: #191d2b;
    font-size: 3rem;
    font-weight: 600;
}

#section2 {
    background-color: #27AE60;
}

.project-row-one {
    padding-left: 23%;
    display: flex;
}

.project-two {
    padding-left: 10%;
}

.project-three {
    padding-left: 10%;
}

.project-row-two {
    padding-left: 13%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 70px;
}

.project-four {
    padding-left: 10%;
}

.project-five {
    padding-left: 10%;
}

.project-six {
    padding-left: 10%;
}

.project-name {
    padding-top: 20px;
    color: #191d2b;
    padding-left: 28px;
    font-size: 19px;
    font-weight: bold;
}

.dog {
    border-radius: 100px;
    position: relative;
}

.social-media-parent-text {
    padding: 15px 20px;
    margin-right: 500px;
    border:3px dotted #27AE60;
    padding-left: 16%;
    color:#FFF;
    font-weight: 500;
    font-size: 30px;
}

#section-three {
    padding-left: 33%;
}

.social-media-lists {
    display : flex;
}

.img-sosmed {
    margin-left: 50px;
    height: 65px;
}

.sosmed1 {
 padding-left: 35px;
}

.sosmed2 {
    padding-left: 0px;
}

.bg {
    margin-left: 10px;
    margin-top: 16px;
    padding: 90px;
    position:absolute ;
    background-color: #191d2b;
    border-radius: 100px;
}